USE [master]
GO
/****** Object:  Database [unitec]    Script Date: 6/5/2020 11:26:28 PM ******/
CREATE DATABASE [unitec]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'unitec', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\unitec.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'unitec_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\unitec_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [unitec].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [unitec]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 6/5/2020 11:26:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EmployerLeave]    Script Date: 6/5/2020 11:26:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EmployerLeave](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[leaveType] [nvarchar](max) NULL,
	[EmployerNo] [int] NOT NULL,
	[applyDate] [datetime] NOT NULL,
	[leaveDate] [datetime] NOT NULL,
	[numberOfDay] [nvarchar](max) NULL,
	[reason] [nvarchar](max) NULL,
	[confirmationType] [int] NOT NULL,
 CONSTRAINT [PK_dbo.EmployerLeave] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EmpMaster]    Script Date: 6/5/2020 11:26:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EmpMaster](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[position] [nvarchar](max) NULL,
	[address] [nvarchar](max) NULL,
	[mobile] [nvarchar](max) NULL,
	[email] [nvarchar](max) NULL,
	[experinece] [nvarchar](max) NULL,
	[skill] [nvarchar](max) NULL,
	[salary] [nvarchar](max) NULL,
	[password] [nvarchar](max) NULL,
	[confirmPassword] [nvarchar](max) NULL,
	[name] [nvarchar](max) NULL,
	[enterDate] [datetime] NOT NULL,
	[empMasterType] [int] NOT NULL,
 CONSTRAINT [PK_dbo.EmpMaster] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[EmpMaster] ON 

INSERT [dbo].[EmpMaster] ([id], [position], [address], [mobile], [email], [experinece], [skill], [salary], [password], [confirmPassword], [name], [enterDate], [empMasterType]) VALUES (5, NULL, N'Sugath Sevana, Temple Road, Ambagasdowa', N'0712125166', N'admin@gmail.com', N'Software Developer and mangement', N'mangment , software skills', NULL, N'3660D6202E91D1A1E617CE9FACA0BCBE1848538293EAE6A21C22F67180F015FF', N'196D67B51044A3CAC87B51C8B7A5A3FB08C9E484D7505429D959D844C80D3371', N'admin', CAST(N'2020-06-05T23:15:42.847' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[EmpMaster] OFF
ALTER TABLE [dbo].[EmployerLeave] ADD  DEFAULT ((0)) FOR [confirmationType]
GO
ALTER TABLE [dbo].[EmpMaster] ADD  DEFAULT ('1900-01-01T00:00:00.000') FOR [enterDate]
GO
ALTER TABLE [dbo].[EmpMaster] ADD  DEFAULT ((0)) FOR [empMasterType]
GO
USE [master]
GO
